.top-container {
    background-color: #1f2937;
    display:flex;
    flex-direction: column;
    padding: 0 150px 0 150px;
}

ul {
    padding-left: 0;
    max-height: 100vh;
    display: flex;
    gap:10px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    width: 200px;
    flex: 2;
}

.subhero {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px 0px 25px 0px;
}

.hero {
    display: flex;
    max-height: 100vh;
    padding: 64px 0 32px 0;
}

.hero-left {
    flex: 2;
}

.hero-right {
    flex: 0 2;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    align-self: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
}

.mid-container {
    background-color:white;
    display:flex;
    flex-direction: column;
    padding: 0 150px 0 150px;
    height: 50vh;
    justify-content: center;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.middle {
    display: flex;
    flex-direction: row;
}

.collage {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    border: 5px solid #3882f6;
    text-align: center;
}

li {
    list-style-type: none;
    flex: 1;
    padding: 10px;

}

.quote-container {
    background-color: #e5e7eb;
    display:flex;
    flex-direction: column;
    padding: 0 150px 0 150px;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.quote-container p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote-container h4{
    align-self: flex-end;
}

/*done above this*/

.footer-container {
    background-color: white;
    display:flex;
    flex-direction: column nowrap;
    padding: 0 150px 0 150px;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #3882f6;
    display: flex;
    color: #f9faf8;
    float: left;
    width: 1000px;
    height: 100px;
    object-fit: cover;
    border-radius: 25px;
    border: 5px solid #3882f6;
    text-align: left;
    padding-left: 60px;
    justify-content: space-between;
}


.left-footer {
    flex: 1 1;
}
.right-footer .signup {
    color: #f9faf8;
    border: solid;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    flex: 1;
    margin-right: 25px;
    margin-top: 25px;
}

.bottom {
    background-color: #1f2937;
    display:flex;
    padding: 0 150px 0 150px;
    color: #f9faf8;
    justify-content: center;
}
